* {
    box-sizing: border-box;
}

.landing {
    background: url('../images/landing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rain-light {
    background: url('../images/weather/rain-light.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.drizzle-rain {
    background: url('../images/weather/drizzle-rain.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.drizzle-light {
    background: url('../images/weather/drizzle-light.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.few-clouds {
    background: url('../images/weather/few-clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overcast {
    background: url('../images/weather/overcast.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clear-skies {
    background: url('../images/weather/landing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 56px;
    background: rgba(255, 255, 255, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


/* Fonts */

h1, h2, h3, h4 {
    color: white;
    text-shadow: 2px 2px 5px rgba(30, 30, 30, 1);
}

h5 {
    font-size: 10rem;
}

#h-sign {
    font-size: 5rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
  color: black !important;
}


/*h6 {
  font-size: 8rem;
}*/

.section-visible-toggle {
    display: none
}


/* Clear Spaces for Section Headers*/

.top-clear-section {
    min-height: 100px;
    display: flex;
    align-items: center;
}

.clear-section {
    min-height: 142px;
    display: flex;
    align-items: center;
}


/*    Sections    */

.user-input-section {
    min-height: 300px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}


/*.user-input-box {

}*/

.body-visible {
    background: white;
}

.intro-section {
    min-height: 300px;
    padding-top: 80px;
}

.insp-quote-block {
    padding-top: 40px;
}

.weather-section {
    min-height: 200px;
    padding: 20px 0;
}

#w-icon {
    padding-top: 10px;
}

#w-moon>img {
    padding-top: 10px;
    width: 100px;
}

#h-icon>img {
    padding-top: 10px;
    width: 100px;
}

.gif-section {
    min-height: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.horoscope-section {
    min-height: 10px;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.reddit-section {
    min-height: 10px;
    padding: 20px 0;
    display: flex;
    align-items: center;
}


/* To Do List Section*/

ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

#list-items>li {
    background: rgba(255, 255, 255, .5);
    padding: 10px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    transition: .5s;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    /* Can't select list item text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */

#list-items>li:hover {
    background: rgba(255, 255, 255, .7);
}


/* When clicked on, add a background color and strike out text */

#list-items>li.checked {
    background: rgba(140, 140, 140, .5);
    color: #fff;
    text-decoration: line-through;
}


/* Add a "checked" mark when clicked on */

#list-items>li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 16px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close (DELETE) button */

.close {
    font-size: 3rem;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 16px 13px 16px
}

.close:hover {
    background-color: rgba(150, 150, 150, .6);
    color: white;
}

#todo-input {
    width: 260px;
    height: 41px;
    padding-bottom: 4px;
    /*padding-top: 4px;*/
}

.todo-section {
    min-height: 500px;
}

.todo-enter {
    padding-bottom: 20px;
}

.todo-list-master {
    padding: 20px 5px;
}
