<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">Nine-Sixty Auth</a>
            <a href="/users/logout">Log Out</a>
        </div>
        <div class="">

        </div>
    </div>
</nav>
