<!-- main.js -->
<script src="javascripts/main.js"></script>
<!-- Toggle for main content visibility -->
<main class="section-visible-toggle" id="content-section">


    <!-- Intro Section -->
    <div class="row">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center intro-section">
                <div class="col-md-12 insp-quote-block">
                </div>
            </div>
        </div>

    </div>


    <!-- Weather Section -->

    <div class="row">
        <div class="container top-clear-section">
            <div class="col-md-12">
                <h1>Today's Weather</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container weather-section">
            <div class="row">
                <div class="col-md-4 text-center" id="w-temp"></div>
                <div class="col-md-4 text-center" id="w-icon"></div>
                <div class="col-md-4 text-center" id="w-moon"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6 text-center" id="w-low"></div>
                    <div class="col-md-6 text-center" id="w-high"></div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 text-center" id="w-desc"></div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6 text-center" id="w-sunrise"></div>
                    <div class="col-md-6 text-center" id="w-sunset"></div>

                </div>
            </div>
        </div>
    </div>


    <!-- GIPHY Section -->
    <div id="anchor-one" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>You are feeling</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container gif-section">
            <div class="col-md-12 text-center gif-block">
                <p>A random gif based on your mood - via <a href="http://www.giphy.com">giphy.com</a></p>
            </div>
        </div>
    </div>


    <!-- Horoscope Section -->
    <div id="anchor-two" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>Daily Horoscope</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container horoscope-section">
            <div class="col-md-3 text-center" id="h-sign">
                <!-- Sign -->
            </div>
            <div class="col-md-6 text-center" id="h-text">
                <!-- Text -->
            </div>
            <div class="col-md-3 text-center" id="h-icon">
                <!-- Image -->
            </div>
        </div>
    </div>

    <!-- Reddit Section -->
    <div id="anchor-three" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>Showerthought</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container reddit-section">
            <div class="col-md-10 col-md-offset-1 text-center" id="r-showerthought">
                <!-- Showerthought -->
            </div>
        </div>
    </div>

    <!-- To-Do Section -->
    <div id="anchor-four" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>To-Do</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center todo-section">
                <div>
                    <form class="todo-enter form-inline" action="index.html" method="post">
                        <input id="todo-input" type="text" name="todo-item" value="" placeholder="Task...">
                        <input class="btn btn-primary" type="submit" name="" value="Add Task">
                        <div id="div1" class="alert text-center alert-info alert-style collapse">Enter a task</div>
                    </form>
                </div>
                <div class="col-xs-8 col-xs-offset-2 todo-list-master">
                    <div class="col-xs-12">
                        <ul id="list-items" class="text-left">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer>

</footer>
