<!-- Initial User Input Section -->
<section class="row" id="input-section">
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h1 class="landing-logo">Nine-Sixty</h1>
        </div>
    </div>
    <div class="container user-input-section">
        <div class="col-xs-10 col-md-4 panel panel-default text-center body-visible">
            <br>
            <p>Enter the following information:</p>
            <form class="user-search col-md-8 col-md-offset-2" action="index.html" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="zip-search">What is your ZIP code?</label>
                        <input class="form-control" type="text" name="zip-search" id="zip-search" pattern="\d{5}" maxlength="5" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="mood-search">How are you feeling?</label>
                        <input class="form-control" type="text" name="mood-search" id="mood-search" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="sign-search">What is your Zodiac sign?:</label>
                        <select class="form-control" type="select" name="sign-search" id="sign-search" value="">
                          <option value="aries">Aries</option>
                          <option value="aquarius">Aquarius</option>
                          <option value="cancer">Cancer</option>
                          <option value="capricorn">Capricorn</option>
                          <option value="gemini">Gemini</option>
                          <option value="leo">Leo</option>
                          <option value="libra">Libra</option>
                          <option value="pisces">Pisces</option>
                          <option value="sagittarius">Sagittarius</option>
                          <option value="scorpio">Scorpio</option>
                          <option value="taurus">Taurus</option>
                          <option value="virgo">Virgo</option>
                        </select>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="search-submit" value="Submit">
                <div class="">
                    <br>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Toggle for main content visibility -->
<main class="section-visible-toggle" id="content-section">


    <!-- Intro Section -->
    <div class="row">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center intro-section">
                <div class="col-md-12 insp-quote-block">
                </div>
            </div>
        </div>

    </div>


    <!-- Weather Section -->

    <div class="row">
        <div class="container top-clear-section">
            <div class="col-md-12">
                <h1>Today's Weather</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container weather-section">
            <div class="row">
                <div class="col-md-4 text-center" id="w-temp"></div>
                <div class="col-md-4 text-center" id="w-icon"></div>
                <div class="col-md-4 text-center" id="w-moon"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6 text-center" id="w-low"></div>
                    <div class="col-md-6 text-center" id="w-high"></div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 text-center" id="w-desc"></div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6 text-center" id="w-sunrise"></div>
                    <div class="col-md-6 text-center" id="w-sunset"></div>

                </div>
            </div>
        </div>
    </div>


    <!-- GIPHY Section -->
    <div id="anchor-one" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>You are feeling</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container gif-section">
            <div class="col-md-12 text-center gif-block">
                <p>A random gif based on your mood - via <a href="http://www.giphy.com">giphy.com</a></p>
            </div>
        </div>
    </div>


    <!-- Horoscope Section -->
    <div id="anchor-two" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>Daily Horoscope</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container horoscope-section">
            <div class="col-md-3 text-center" id="h-sign">
                <!-- Sign -->
            </div>
            <div class="col-md-6 text-center" id="h-text">
                <!-- Text -->
            </div>
            <div class="col-md-3 text-center" id="h-icon">
                <!-- Image -->
            </div>
        </div>
    </div>

    <!-- Reddit Section -->
    <div id="anchor-three" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>Showerthought</h1>
            </div>
        </div>
    </div>
    <div class="row body-visible">
        <div class="container reddit-section">
            <div class="col-md-10 col-md-offset-1 text-center" id="r-showerthought">
                <!-- Showerthought -->
            </div>
        </div>
    </div>

    <!-- To-Do Section -->
    <div id="anchor-four" class="row">
        <div class="container clear-section">
            <div class="col-md-12">
                <h1>To-Do</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center todo-section">
                <div>
                    <form class="todo-enter form-inline" action="index.html" method="post">
                        <input id="todo-input" type="text" name="todo-item" value="" placeholder="Task...">
                        <input class="btn btn-primary" type="submit" name="" value="Add Task">
                        <div id="div1" class="alert text-center alert-info alert-style collapse">Enter a task</div>
                    </form>
                </div>
                <div class="col-xs-8 col-xs-offset-2 todo-list-master">
                    <div class="col-xs-12">
                        <ul id="list-items" class="text-left">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer>

</footer>
