<div class="container col-md-4 col-md-offset-4 text-center login-form">
  <br>
  <h3>Welcome!</h3>
  <br>
  {{#if noUser}}
  <div id="div1" class="alert text-center alert-info alert-style collapse">Enter a task</div>
  {{/if}}
  <form action="/login" method="post">
    <div class="form-group col-md-8 col-md-offset-2">
      <input id="login-username" class="form-control" type="text" name="username" value="" placeholder="Username">
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
      <input id="login-password" class="form-control" type="text" name="password" value="" placeholder="Password">
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
      <input class="btn btn-primary" type="submit" name="submit" value="Sign In"></input>
    </div>
  </form>
</div>

<br>

<div class="container col-md-4 col-md-offset-4 text-center register-form">
  <br>
  <h3>Sign Up</h3>
  <br>
  <form action="/" method="post">
    <div class="form-group col-md-8 col-md-offset-2">
      <input id="signup-username" class="form-control" type="text" name="username" value="" placeholder="Username">
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
      <input id="signup-password" class="form-control" type="text" name="password" value="" placeholder="Password">
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
      <input class="btn btn-primary" type="submit" name="submit" value="Sign Up"></input>
    </div>
  </form>
</div>
